
.register-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

.register {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: start;
    align-items: start;
    width: 200px;
}