<!-- login.hbs -->

{{#if session.login}}
  <a href="/logout">Logout</a> 
{{else}}
<h1>LogIn</h1>
<form action="/api/sessionLogin" method="post">
<label for="email">Email</label>
<input type="email" name="email" id="email">
<label for="password">Password</label>
<input type="password" name="password" id="password">

<button type="submit">Login</button>
</form>
  
{{/if}}

