<div class="profile-screen">
  <div>
    <a href="/products" class="button-login">{«}</a>

  </div>
  <h1>Perfil</h1>

  <h2 class="name-profile">{{user.nombre}} {{user.apellido}}</h2>
  <div style="display: flex; gap: 5px;">
    <p>rol:</p>
    <p>{{user.role}}</p>
  </div>

  {{#if isAdmin}}
    <a href="/realtimeproducts" class="button-login">Modificar productos</a>
  {{/if}}
</div>