<a href="/products">{«}</a>

<h1>Perfil</h1>

<p>Bienvenido/a {{user.nombre}} {{user.apellido}}</p>
<p>rol: {{user.role}}</p>

{{#if isAdmin}}
  <a href="/realtimeproducts">Modificar productos</a>
{{/if}}