

<h1>Lista de productos en tiempo real</h1>
<ul id="realTimeProducts">
  {{#each products}}
    <li>{{this.title}}</li>
  {{/each}}
</ul>
<script
  src="https://cdn.socket.io/4.7.3/socket.io.min.js"
  integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg"
  crossorigin="anonymous"
></script>
<script src="/public/js/index.js"></script>

