<h3>Generar Nuevo de restablecimiento</h3>

<form action="/api/reset-password-request" method="post">
  <label for="email">Email</label>
  <input type="email" name="email" id="email" required/>
  <button type="submit">Enviar correo</button>
</form>

{{#if error}}
    <p>{{error}}</p>
{{/if}}